.container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Colonne gauche */
.sidebar {
  width: 250px;
  background: #f3f3f3;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.note-item {
  padding: 8px;
  cursor: pointer;
}

.note-item:hover {
  background-color: #ddd;
}

/* Colonne droite */
.content {
  flex: 1;
  padding: 20px;
}

input {
  width: 100%;
  font-size: 18px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 300px;
}

.actions button {
  margin-right: 10px;
}
